.material {
    display: inline-block;
    position: relative;
    background: mediumpurple;
    border-radius: 10%;
    margin: 3px;
}

.material-img {
    height: 50px;
    display: block;


}

.material-qty {
    color: white;
    background: grey;
    padding: 2px;
    height: 20px;
    width: 20px;
    font-size: small;
    border-radius: 50% ;
    position: absolute;
    top: 0;
    left: 0;

}

.material-name {
    background: white;
    display: inline-block;

}